
.caption
{
    font-size: 4rem;
    color: #EEE;
    font-weight: 700;

}
.main-navbar .bg-light
{
    background-color:black !important;
}
body{
    font-family: "Berlin Sans FB", sans-serif;
    background-color: #ddddf0;
}
.shopping .card
{
    background-color: rgba(255,255,255,0.4);
}
.row .col-md-7 .form-control , .row .col-md-7 .input-group
{
    background-color:white !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}
.main-navbar  .navbar-light .navbar-nav .nav-link
{
    color:#ffffff !important;
    font-family: "Berlin Sans FB", sans-serif;

}
.main-navbar .navbar-light .navbar-brand
{
    color:#ffffff !important;

}
.main-navbar .navbar
{
   padding:  0;
    padding-left: 4px;
}
.sub-navbar .navbar
{
   padding: .3rem 2rem;

}
.sub-navbar .bg-light
{
    background:transparent !important;
}

.index .row
{
    margin-right:0;
}
.index .col-md-8  , .index .col-md-4
{
    padding: 0;
}
.shopping .col-md-3
{
    padding: 4px;
    margin-right: 0;
    border-radius: 15px;
}
